body {
  background-color: black;
} 

p,h1,a {
  color: white;
  text-decoration: none;

}

/* 
.carousel-item {
  height: 100vmin;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../mainback.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 */ 
